<config>
    <playerStats>player</playerStats>
    <playerID>player</playerID>
    <playerStartArea>fifth_corner_store_front</playerStartArea>
    <gameName>AdventureEngine</gameName>
    <startTimeHours>8</startTimeHours>
    <startTimeMinutes>0</startTimeMinutes>
    <startDateYear>2054</startDateYear>
    <startDateMonth>9</startDateMonth>
    <startDateDay>15</startDateDay>
    <startDateWeekday>friday</startDateWeekday>
</config>